@model ArticalProject.Core.AuthorPost

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family: Cairo;direction:rtl;">حذف</h1>
<br />
<h3 style="font-family: Cairo;direction:rtl;">هل أنت متأكد أنك تريد حذف هذا؟</h3>
<div>
    <h4 style="font-family: Cairo;direction:rtl;">منشور</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDecription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDecription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImageURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Model.PostImageURL" class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
